target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/*.png
!**/src/main/resources/architecture/*.jpg
!**/src/main/resources/architecture/*.jpeg
!**/src/main/resources/architecture/*.gif

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml

### VS Code ###
.vscode/

### Others ###
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
/uploads/


